{% extends 'accounts/password_reset/password_base.html' %}
{% block content %} 
  
  <!--Password Reset Complete-->
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3 text-center">Запрос на изменение пароля отправлен</h2>
		<hr>
        <p class="text-center">Мы отправили вам электронное письмо с дальнейшими инструкциями на почту.</p>
        <p class="text-center">Если вы не получили письмо, проверьте, пожалуйста, правильность введеного электронного адреса.</p>                 
        <p class="text-center">
            <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Вернуться назад</a>
        </p>
    </div>

{% endblock %}