{% extends 'accounts/password_reset/password_base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Восстановление Пароля</h2>
		<hr>
		<p>Забыли свой пароль? Введите свой email адрес, мы отправим вам письмо с инструкцией для дальнейших действий!</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
			<p class="text-center">
				<button class="btn btn-primary" type="submit">Отправить</button>
			</p>
        </form>
  	</div> 

{% endblock %}