{% extends 'accounts/password_reset/password_base.html' %}


{% block content %} 
  
  <!--Password Reset Complete-->
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3 text-center">Пароль был успешно изменён.</h2>
		<hr>
        <p class="text-center">Ваш пароль был обновлён. Теперь вы можете войти в свой аккаунт.</p>                 
        <p class="text-center">
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">Войти</a>
        </p>
    </div>

{% endblock %}