{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <h2 class="mb-3 text-muted">Изменение обьявления</h2>
        <h3 class="d-inline-block me-3">Добавление изображений</h3>
        <hr>
        <a href="{% url 'rental:advt_edit_step_3' new_advt.id%}"type="button" class="btn btn-secondary d-inline-block">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
              </svg>
              Вернуться назад
        </a>
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-start mt-3" style="width: 650px;">
                {%if new_advt.new_advt_images.all%}
                {% for room_image in new_advt.new_advt_images.all %}
                <div class="">
                    <img src="{{room_image.image.url}}" class="d-block me-2" width="95" height="75" alt="Room Images">
                </div>
                {%endfor%}
                {%else%}
                Изображений нет
                {%endif%}
            </div>
        <form method="POST" class="mt-5" enctype="multipart/form-data">
            {% csrf_token%}
            <h2 class="text-start mb-3">Изображения</h2>
            <div class="col-6 d-flex flex-row justify-content-between">
                {{form.image|as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row justify-content-between">

            </div>
            <button type="submit" class="btn btn-dark mt-3">Загрузить изображения</button>
        </form>
    </div>
</div>
{% endblock %}