{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <h2 class="mb-3 text-muted">Изменение обьявления</h2>
        <h3 class="d-inline-block me-3">Шаг 1 - Заполнение информации о расположении</h3>
        <hr>
        <p class="d-flex flex-row justify-content-start align-items-center">

            <span class="text-muted d-inline-block">Заполнение информации о квартире, правила заселения</span>

            <a href="{% url 'rental:advt_edit_step_2' new_advt.id%}"type="button" class="btn btn-secondary d-inline-block ms-5">
                Далее к шагу 2
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="transform: rotate(180deg);" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg>

            </a>
        </p>
        
        <form method="POST" class="mt-5">
            {% csrf_token%}
            <h2 class="text-start mb-3">Расположение</h2>
            <div class="col-6 d-flex flex-row justify-content-between">
                {{form.country|as_crispy_field}}
                {{form.region|as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row justify-content-between">
                {{form.city|as_crispy_field}}
                {{form.street|as_crispy_field}}
            </div>
            <button type="submit" class="btn btn-outline-dark mt-3">Обновить информацию</button>
            <a href="{% url 'rental:advt_edit_step_2' new_advt.id%}"type="button" class="btn btn-primary d-inline-block ms-3 mt-3 me-5">
                Продолжить
            </a>
        </form>


    </div>
{% endblock %}